# Laravel
/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage/
/public/mix-manifest.json
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/oauth-private.key
/storage/oauth-public.key

# Environment
.env
.env.backup
.env.production

# PHPUnit
.phpunit.cache
.phpunit.result.cache

# Homestead
Homestead.json
Homestead.yaml

# IDEs and tools
/.idea/
/.vscode/
/.fleet/

# Logs and errors
auth.json
npm-debug.log
yarn-error.log

# Optional
/public/document/

public/document*
